# Virtual Cosmos Environment Map

# BACKEND (.env for /backend)
# ------------------------------
# Set the port the backend socket engine hosts upon
PORT=3000
MONGODB_URI=mongodb://localhost:27017/virtualcosmos

# FRONTEND (.env for /frontend)
# ------------------------------
# Point this to your backend host address
VITE_BACKEND_URL=http://localhost:3000
